<h4><%= @article.title %></h4>
<p><%= @article.content %></p>
<p><%= link_to "Edit this article âœï¸", edit_article_path(@article) %></p>
<p>
<%= link_to "Delete this article ðŸ—‘",
  article_path(@article),
  method: :delete,
  data: { confirm: "Are you sure?" }%>
</p>

